/* обнуляющие свойства */
*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
    /* конец обнуляющих свойств */

    /* Основной код */
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        font-family: 'Times New Roman', Times, serif;
        background-color: rgb(82, 79, 79);
    }
    .container {
    }
    .button {
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        text-decoration: none;
        color: #2196f3;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 24px;
        overflow: hidden;
        transition: all 0.5s ease 0s;
    }
    .button__line {
        position: absolute;
        display: block;
    }
    .button__line--top {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #2196f3);
    }
    .button:hover .button__line--top{
        left: 100%;
        transition: all 1s ease 0s;
        transition-delay: 0.25s;
    }
    .button__line--right {
        right: 0;
        top: -100%;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #2196f3);
    }
    .button:hover .button__line--right{
        top: 100%;
        transition: all 1s ease 0s;
        transition-delay: 0.25s;
    }
    .button__line--bottom {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #2196f3);
    }
    .button:hover .button__line--bottom{
        right: 100%;
        transition: all 1s ease 0s;
        transition-delay: 0.25s;
    }
    .button__line--left {
        left: 0;
        bottom: -100%;
        width: 2px;
        height: 100%;
        background: linear-gradient(0deg, transparent, #2196f3);
    }
    .button:hover .button__line--left{
        bottom: 100%;
        transition: all 1s ease 0s;
        transition-delay: 0.25s;
    }
    .button:hover {
        box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
        transition-delay: 0.75s;
        background-color: #2196f3;
        color: #333;
    }
